a {
  line-height: 1.6em;
  color: black;
  background: #ffdb00;
  text-decoration: none;
  box-shadow: -10px 0px 0px #ffdb00, 10px 0px 0px #ffdb00;
}

a:hover {
  background: #262626;
  color: #ffdb00;
  box-shadow: -10px 0px 0px #262626, 10px 0px 0px #262626;
}

a:after {
    position: relative;
    left: 10px;
    line-height: 1.6em;
    background: #ffdb00
  }

  h2 {
    padding: 0 2em;
    font-family: "fira-sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 1.25em;
    line-height: 1.4em;
  }

  h1 {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
  }

  .author-tag {
    color: #b3b3b3;
  }

  .opening-quote {
    border-bottom: 1px solid #d9d9d9;
    padding: 0 1.5em 1em;
    font-size: 1.25em;
    line-height: 1.4em;
  }

.flex-container {
  margin-top: 0;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 900px;
  margin: 0 auto;
  padding: 1em;
  font-size: 1.1em;
}


@media screen and (max-width: 920px) {
  .flex-container {
    margin-top: 0;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    padding: 1em;
    font-size: 1.1em;
  }
  .sidebar-adjust {
    display: none;
  }
  .opening-quote {
    padding: .5em 1em;
  }
}
