.title-highlight {
  background-color: #ffdb00;
  color: black;
}

.flex-container {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
