<app-logo></app-logo>
<div class="flex-container">
<div class="sidebar-adjust">
  <app-donate></app-donate>
  <app-newsletter></app-newsletter>
  <app-favorite></app-favorite>
  <app-labors></app-labors>
</div>

  <div class="main-articles">
    <div *ngFor="let currentArticle of articles | async">
      <h1><a href="">{{currentArticle.title}}</a></h1>
      <h2 class="opening-quote">{{currentArticle.quote}}</h2>
      <p class="author-tag">{{currentArticle.author}}</p>
      <p>{{currentArticle.content}}</p>
    </div>
  </div>
</div>
