<div id="newsletter">
		<h1 class="underline">Sunday newsletter</h1>
    <p><em>Brain Pickings</em> has a free Sunday digest of the week's most interesting and inspiring articles across art, science, philosophy, creativity, children's books, and other strands of our search for truth, beauty, and meaning. Here's an <a href="http://us2.campaign-archive1.com/?u=13eb080d8a315477042e0d5b1&amp;id=de29ba37e7&amp;e=b2dbad0745">example</a>. Like? Claim yours:</p>

			<form action="https://brainpickings.us2.list-manage.com/subscribe/post?u=13eb080d8a315477042e0d5b1&amp;id=179ffa2629">
					<input type="text" placeholder="Name" required=""><br>
					<input type="email" placeholder="Email Address" required=""><br>
					<input type="subscribe" name="subscribe" placeholder="SUBSCRIBE" class="submit-button">
			</form>
	</div>
