.logo-box {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  background: white;
  padding: 1em 1.5em;
  flex-flow: column nowrap;
}

.logo {
  max-width: 100%;
  margin: 0 auto;
  z-index: 1;
}

#banner {
  position: fixed;
  margin: 0 auto;
  max-width: 80%;
}
