.logo-box {
  display: flex;
  max-width: 970px;
  margin: 0 auto;
  background: white;
  padding: 1em;
  flex-flow: column nowrap;
}

.logo {
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 970px) {
  .logo {
    max-width: 970px;
  }
}
