/* You can add global styles to this file, and also import other style files */
body {
  background-image: url('https://maydesigns.cdn.prismic.io/maydesigns/e618d7ea9a430b4eacb60fbe94a78b867c145cef_page1.png');
  background-repeat: repeat;
  background-size: 400px auto;

}
